fadepof-webapp/src/main/resources/wsdl/TerminologiaWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.hospitalitaliano.org.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.hospitalitaliano.org.ar/" name="TerminologiaWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.hospitalitaliano.org.ar/" schemaLocation="http://www1.hospitalitaliano.org.ar:8082/TerminologiaWSMultiContextoTest/TerminologiaWSService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="obtenerCodigoTesauro">
<part name="parameters" element="tns:obtenerCodigoTesauro"></part>
</message>
<message name="obtenerCodigoTesauroResponse">
<part name="parameters" element="tns:obtenerCodigoTesauroResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="obtenerClasificador">
<part name="parameters" element="tns:obtenerClasificador"></part>
</message>
<message name="obtenerClasificadorResponse">
<part name="parameters" element="tns:obtenerClasificadorResponse"></part>
</message>
<message name="obtenerClasificadorUnico">
<part name="parameters" element="tns:obtenerClasificadorUnico"></part>
</message>
<message name="obtenerClasificadorUnicoResponse">
<part name="parameters" element="tns:obtenerClasificadorUnicoResponse"></part>
</message>
<message name="obtenerClasificadorOficial">
<part name="parameters" element="tns:obtenerClasificadorOficial"></part>
</message>
<message name="obtenerClasificadorOficialResponse">
<part name="parameters" element="tns:obtenerClasificadorOficialResponse"></part>
</message>
<message name="obtenerConceptXDescID">
<part name="parameters" element="tns:obtenerConceptXDescID"></part>
</message>
<message name="obtenerConceptXDescIDResponse">
<part name="parameters" element="tns:obtenerConceptXDescIDResponse"></part>
</message>
<message name="obtenerEsMemberSubset">
<part name="parameters" element="tns:obtenerEsMemberSubset"></part>
</message>
<message name="obtenerEsMemberSubsetResponse">
<part name="parameters" element="tns:obtenerEsMemberSubsetResponse"></part>
</message>
<message name="ObtenerModeladoHIBADescription">
<part name="parameters" element="tns:ObtenerModeladoHIBADescription"></part>
</message>
<message name="ObtenerModeladoHIBADescriptionResponse">
<part name="parameters" element="tns:ObtenerModeladoHIBADescriptionResponse"></part>
</message>
<message name="obtenerExpresionSnomed">
<part name="parameters" element="tns:obtenerExpresionSnomed"></part>
</message>
<message name="obtenerExpresionSnomedResponse">
<part name="parameters" element="tns:obtenerExpresionSnomedResponse"></part>
</message>
<message name="ObtenerCodigoSNMapeo">
<part name="parameters" element="tns:ObtenerCodigoSNMapeo"></part>
</message>
<message name="ObtenerCodigoSNMapeoResponse">
<part name="parameters" element="tns:ObtenerCodigoSNMapeoResponse"></part>
</message>
<message name="obtenerMapSetsCorrientes">
<part name="parameters" element="tns:obtenerMapSetsCorrientes"></part>
</message>
<message name="obtenerMapSetsCorrientesResponse">
<part name="parameters" element="tns:obtenerMapSetsCorrientesResponse"></part>
</message>
<message name="obtenerMembers">
<part name="parameters" element="tns:obtenerMembers"></part>
</message>
<message name="obtenerMembersResponse">
<part name="parameters" element="tns:obtenerMembersResponse"></part>
</message>
<message name="obtenerMembersConceptoSubset">
<part name="parameters" element="tns:obtenerMembersConceptoSubset"></part>
</message>
<message name="obtenerMembersConceptoSubsetResponse">
<part name="parameters" element="tns:obtenerMembersConceptoSubsetResponse"></part>
</message>
<message name="obtenerMembersCohorte">
<part name="parameters" element="tns:obtenerMembersCohorte"></part>
</message>
<message name="obtenerMembersCohorteResponse">
<part name="parameters" element="tns:obtenerMembersCohorteResponse"></part>
</message>
<message name="obtenerListaDeSubsets">
<part name="parameters" element="tns:obtenerListaDeSubsets"></part>
</message>
<message name="obtenerListaDeSubsetsResponse">
<part name="parameters" element="tns:obtenerListaDeSubsetsResponse"></part>
</message>
<message name="obtenerGenericosPorTxtYSubset">
<part name="parameters" element="tns:obtenerGenericosPorTxtYSubset"></part>
</message>
<message name="obtenerGenericosPorTxtYSubsetResponse">
<part name="parameters" element="tns:obtenerGenericosPorTxtYSubsetResponse"></part>
</message>
<message name="obtenerPresentacionesComercialesXGenerico">
<part name="parameters" element="tns:obtenerPresentacionesComercialesXGenerico"></part>
</message>
<message name="obtenerPresentacionesComercialesXGenericoResponse">
<part name="parameters" element="tns:obtenerPresentacionesComercialesXGenericoResponse"></part>
</message>
<message name="obtenerGenericoXPresentacionComercial">
<part name="parameters" element="tns:obtenerGenericoXPresentacionComercial"></part>
</message>
<message name="obtenerGenericoXPresentacionComercialResponse">
<part name="parameters" element="tns:obtenerGenericoXPresentacionComercialResponse"></part>
</message>
<message name="obtenerMedicamentoClinicoPorMedicamentoBasico">
<part name="parameters" element="tns:obtenerMedicamentoClinicoPorMedicamentoBasico"></part>
</message>
<message name="obtenerMedicamentoClinicoPorMedicamentoBasicoResponse">
<part name="parameters" element="tns:obtenerMedicamentoClinicoPorMedicamentoBasicoResponse"></part>
</message>
<message name="obtenerMedicamentoBasicoPorMedicamentoClinico">
<part name="parameters" element="tns:obtenerMedicamentoBasicoPorMedicamentoClinico"></part>
</message>
<message name="obtenerMedicamentoBasicoPorMedicamentoClinicoResponse">
<part name="parameters" element="tns:obtenerMedicamentoBasicoPorMedicamentoClinicoResponse"></part>
</message>
<message name="obtenerSubsetsXDescId">
<part name="parameters" element="tns:obtenerSubsetsXDescId"></part>
</message>
<message name="obtenerSubsetsXDescIdResponse">
<part name="parameters" element="tns:obtenerSubsetsXDescIdResponse"></part>
</message>
<message name="obtenerAtributosDeDescription">
<part name="parameters" element="tns:obtenerAtributosDeDescription"></part>
</message>
<message name="obtenerAtributosDeDescriptionResponse">
<part name="parameters" element="tns:obtenerAtributosDeDescriptionResponse"></part>
</message>
<message name="obtenerOfertaTextos">
<part name="parameters" element="tns:obtenerOfertaTextos"></part>
</message>
<message name="obtenerOfertaTextosResponse">
<part name="parameters" element="tns:obtenerOfertaTextosResponse"></part>
</message>
<message name="obtenerOfertaTextosMultiSubset">
<part name="parameters" element="tns:obtenerOfertaTextosMultiSubset"></part>
</message>
<message name="obtenerOfertaTextosMultiSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosMultiSubsetResponse"></part>
</message>
<message name="obtenerOfertaTextosConCaducidad">
<part name="parameters" element="tns:obtenerOfertaTextosConCaducidad"></part>
</message>
<message name="obtenerOfertaTextosConCaducidadResponse">
<part name="parameters" element="tns:obtenerOfertaTextosConCaducidadResponse"></part>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset"></part>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse"></part>
</message>
<message name="obtenerOfertaSimilitud">
<part name="parameters" element="tns:obtenerOfertaSimilitud"></part>
</message>
<message name="obtenerOfertaSimilitudResponse">
<part name="parameters" element="tns:obtenerOfertaSimilitudResponse"></part>
</message>
<message name="obtenerOfertaSimilitudXFrecuenciaUso">
<part name="parameters" element="tns:obtenerOfertaSimilitudXFrecuenciaUso"></part>
</message>
<message name="obtenerOfertaSimilitudXFrecuenciaUsoResponse">
<part name="parameters" element="tns:obtenerOfertaSimilitudXFrecuenciaUsoResponse"></part>
</message>
<message name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubset">
<part name="parameters" element="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubset"></part>
</message>
<message name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse"></part>
</message>
<message name="obtenerDataDescriptionId">
<part name="parameters" element="tns:obtenerDataDescriptionId"></part>
</message>
<message name="obtenerDataDescriptionIdResponse">
<part name="parameters" element="tns:obtenerDataDescriptionIdResponse"></part>
</message>
<message name="obtenerAuditoriaTermino">
<part name="parameters" element="tns:obtenerAuditoriaTermino"></part>
</message>
<message name="obtenerAuditoriaTerminoResponse">
<part name="parameters" element="tns:obtenerAuditoriaTerminoResponse"></part>
</message>
<message name="obtenerComposicionFarmacoXDescId">
<part name="parameters" element="tns:obtenerComposicionFarmacoXDescId"></part>
</message>
<message name="obtenerComposicionFarmacoXDescIdResponse">
<part name="parameters" element="tns:obtenerComposicionFarmacoXDescIdResponse"></part>
</message>
<message name="obtenerOfertaProductoPresentacion">
<part name="parameters" element="tns:obtenerOfertaProductoPresentacion"></part>
</message>
<message name="obtenerOfertaProductoPresentacionResponse">
<part name="parameters" element="tns:obtenerOfertaProductoPresentacionResponse"></part>
</message>
<message name="obtenerDetalleProductoPresentacion">
<part name="parameters" element="tns:obtenerDetalleProductoPresentacion"></part>
</message>
<message name="obtenerDetalleProductoPresentacionResponse">
<part name="parameters" element="tns:obtenerDetalleProductoPresentacionResponse"></part>
</message>
<message name="ObtenerComposicionGenericoAmbulatorio">
<part name="parameters" element="tns:ObtenerComposicionGenericoAmbulatorio"></part>
</message>
<message name="ObtenerComposicionGenericoAmbulatorioResponse">
<part name="parameters" element="tns:ObtenerComposicionGenericoAmbulatorioResponse"></part>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorio">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorio"></part>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorioResponse">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorioResponse"></part>
</message>
<message name="obtenerPrompting">
<part name="parameters" element="tns:obtenerPrompting"></part>
</message>
<message name="obtenerPromptingResponse">
<part name="parameters" element="tns:obtenerPromptingResponse"></part>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConOfeSubset">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubset"></part>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse"></part>
</message>
<message name="obtenerOfertaTextosIndependienteSubset">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubset"></part>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetResponse"></part>
</message>
<message name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad">
<part name="parameters" element="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad"></part>
</message>
<message name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse">
<part name="parameters" element="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse"></part>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad"></part>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse"></part>
</message>
<message name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal">
<part name="parameters" element="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal"></part>
</message>
<message name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse">
<part name="parameters" element="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse"></part>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausal">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausal"></part>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse"></part>
</message>
<message name="ObtenerCodigoAntecedenteFamiliarPorDescriptionId">
<part name="parameters" element="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionId"></part>
</message>
<message name="ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse">
<part name="parameters" element="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse"></part>
</message>
<message name="obtenerFamiliares">
<part name="parameters" element="tns:obtenerFamiliares"></part>
</message>
<message name="obtenerFamiliaresResponse">
<part name="parameters" element="tns:obtenerFamiliaresResponse"></part>
</message>
<message name="informarDescripcionConsumida">
<part name="parameters" element="tns:informarDescripcionConsumida"></part>
</message>
<message name="informarDescripcionConsumidaResponse">
<part name="parameters" element="tns:informarDescripcionConsumidaResponse"></part>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorioAll">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorioAll"></part>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorioAllResponse">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorioAllResponse"></part>
</message>
<portType name="TerminologiaWS">
<operation name="obtenerCodigoTesauro">
<input message="tns:obtenerCodigoTesauro"></input>
<output message="tns:obtenerCodigoTesauroResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerClasificador">
<input message="tns:obtenerClasificador"></input>
<output message="tns:obtenerClasificadorResponse"></output>
</operation>
<operation name="obtenerClasificadorUnico">
<input message="tns:obtenerClasificadorUnico"></input>
<output message="tns:obtenerClasificadorUnicoResponse"></output>
</operation>
<operation name="obtenerClasificadorOficial">
<input message="tns:obtenerClasificadorOficial"></input>
<output message="tns:obtenerClasificadorOficialResponse"></output>
</operation>
<operation name="obtenerConceptXDescID">
<input message="tns:obtenerConceptXDescID"></input>
<output message="tns:obtenerConceptXDescIDResponse"></output>
</operation>
<operation name="obtenerEsMemberSubset">
<input message="tns:obtenerEsMemberSubset"></input>
<output message="tns:obtenerEsMemberSubsetResponse"></output>
</operation>
<operation name="ObtenerModeladoHIBADescription">
<input message="tns:ObtenerModeladoHIBADescription"></input>
<output message="tns:ObtenerModeladoHIBADescriptionResponse"></output>
</operation>
<operation name="obtenerExpresionSnomed">
<input message="tns:obtenerExpresionSnomed"></input>
<output message="tns:obtenerExpresionSnomedResponse"></output>
</operation>
<operation name="ObtenerCodigoSNMapeo">
<input message="tns:ObtenerCodigoSNMapeo"></input>
<output message="tns:ObtenerCodigoSNMapeoResponse"></output>
</operation>
<operation name="obtenerMapSetsCorrientes">
<input message="tns:obtenerMapSetsCorrientes"></input>
<output message="tns:obtenerMapSetsCorrientesResponse"></output>
</operation>
<operation name="obtenerMembers">
<input message="tns:obtenerMembers"></input>
<output message="tns:obtenerMembersResponse"></output>
</operation>
<operation name="obtenerMembersConceptoSubset">
<input message="tns:obtenerMembersConceptoSubset"></input>
<output message="tns:obtenerMembersConceptoSubsetResponse"></output>
</operation>
<operation name="obtenerMembersCohorte">
<input message="tns:obtenerMembersCohorte"></input>
<output message="tns:obtenerMembersCohorteResponse"></output>
</operation>
<operation name="obtenerListaDeSubsets">
<input message="tns:obtenerListaDeSubsets"></input>
<output message="tns:obtenerListaDeSubsetsResponse"></output>
</operation>
<operation name="obtenerGenericosPorTxtYSubset">
<input message="tns:obtenerGenericosPorTxtYSubset"></input>
<output message="tns:obtenerGenericosPorTxtYSubsetResponse"></output>
</operation>
<operation name="obtenerPresentacionesComercialesXGenerico">
<input message="tns:obtenerPresentacionesComercialesXGenerico"></input>
<output message="tns:obtenerPresentacionesComercialesXGenericoResponse"></output>
</operation>
<operation name="obtenerGenericoXPresentacionComercial">
<input message="tns:obtenerGenericoXPresentacionComercial"></input>
<output message="tns:obtenerGenericoXPresentacionComercialResponse"></output>
</operation>
<operation name="obtenerMedicamentoClinicoPorMedicamentoBasico">
<input message="tns:obtenerMedicamentoClinicoPorMedicamentoBasico"></input>
<output message="tns:obtenerMedicamentoClinicoPorMedicamentoBasicoResponse"></output>
</operation>
<operation name="obtenerMedicamentoBasicoPorMedicamentoClinico">
<input message="tns:obtenerMedicamentoBasicoPorMedicamentoClinico"></input>
<output message="tns:obtenerMedicamentoBasicoPorMedicamentoClinicoResponse"></output>
</operation>
<operation name="obtenerSubsetsXDescId">
<input message="tns:obtenerSubsetsXDescId"></input>
<output message="tns:obtenerSubsetsXDescIdResponse"></output>
</operation>
<operation name="obtenerAtributosDeDescription">
<input message="tns:obtenerAtributosDeDescription"></input>
<output message="tns:obtenerAtributosDeDescriptionResponse"></output>
</operation>
<operation name="obtenerOfertaTextos">
<input message="tns:obtenerOfertaTextos"></input>
<output message="tns:obtenerOfertaTextosResponse"></output>
</operation>
<operation name="obtenerOfertaTextosMultiSubset">
<input message="tns:obtenerOfertaTextosMultiSubset"></input>
<output message="tns:obtenerOfertaTextosMultiSubsetResponse"></output>
</operation>
<operation name="obtenerOfertaTextosConCaducidad">
<input message="tns:obtenerOfertaTextosConCaducidad"></input>
<output message="tns:obtenerOfertaTextosConCaducidadResponse"></output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset">
<input message="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset"></input>
<output message="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse"></output>
</operation>
<operation name="obtenerOfertaSimilitud">
<input message="tns:obtenerOfertaSimilitud"></input>
<output message="tns:obtenerOfertaSimilitudResponse"></output>
</operation>
<operation name="obtenerOfertaSimilitudXFrecuenciaUso">
<input message="tns:obtenerOfertaSimilitudXFrecuenciaUso"></input>
<output message="tns:obtenerOfertaSimilitudXFrecuenciaUsoResponse"></output>
</operation>
<operation name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubset">
<input message="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubset"></input>
<output message="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse"></output>
</operation>
<operation name="obtenerDataDescriptionId">
<input message="tns:obtenerDataDescriptionId"></input>
<output message="tns:obtenerDataDescriptionIdResponse"></output>
</operation>
<operation name="obtenerAuditoriaTermino">
<input message="tns:obtenerAuditoriaTermino"></input>
<output message="tns:obtenerAuditoriaTerminoResponse"></output>
</operation>
<operation name="obtenerComposicionFarmacoXDescId">
<input message="tns:obtenerComposicionFarmacoXDescId"></input>
<output message="tns:obtenerComposicionFarmacoXDescIdResponse"></output>
</operation>
<operation name="obtenerOfertaProductoPresentacion">
<input message="tns:obtenerOfertaProductoPresentacion"></input>
<output message="tns:obtenerOfertaProductoPresentacionResponse"></output>
</operation>
<operation name="obtenerDetalleProductoPresentacion">
<input message="tns:obtenerDetalleProductoPresentacion"></input>
<output message="tns:obtenerDetalleProductoPresentacionResponse"></output>
</operation>
<operation name="ObtenerComposicionGenericoAmbulatorio">
<input message="tns:ObtenerComposicionGenericoAmbulatorio"></input>
<output message="tns:ObtenerComposicionGenericoAmbulatorioResponse"></output>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorio">
<input message="tns:ObtenerComposicionPresentacionAmbulatorio"></input>
<output message="tns:ObtenerComposicionPresentacionAmbulatorioResponse"></output>
</operation>
<operation name="obtenerPrompting">
<input message="tns:obtenerPrompting"></input>
<output message="tns:obtenerPromptingResponse"></output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConOfeSubset">
<input message="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubset"></input>
<output message="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse"></output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubset">
<input message="tns:obtenerOfertaTextosIndependienteSubset"></input>
<output message="tns:obtenerOfertaTextosIndependienteSubsetResponse"></output>
</operation>
<operation name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad">
<input message="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad"></input>
<output message="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse"></output>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad">
<input message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad"></input>
<output message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse"></output>
</operation>
<operation name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal">
<input message="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal"></input>
<output message="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse"></output>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausal">
<input message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausal"></input>
<output message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse"></output>
</operation>
<operation name="ObtenerCodigoAntecedenteFamiliarPorDescriptionId">
<input message="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionId"></input>
<output message="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse"></output>
</operation>
<operation name="obtenerFamiliares">
<input message="tns:obtenerFamiliares"></input>
<output message="tns:obtenerFamiliaresResponse"></output>
</operation>
<operation name="informarDescripcionConsumida">
<input message="tns:informarDescripcionConsumida"></input>
<output message="tns:informarDescripcionConsumidaResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorioAll">
<input message="tns:ObtenerComposicionPresentacionAmbulatorioAll"></input>
<output message="tns:ObtenerComposicionPresentacionAmbulatorioAllResponse"></output>
</operation>
</portType>
<binding name="TerminologiaWSPortBinding" type="tns:TerminologiaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="obtenerCodigoTesauro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerClasificador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerClasificadorUnico">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerClasificadorOficial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerConceptXDescID">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerEsMemberSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerModeladoHIBADescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerExpresionSnomed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerCodigoSNMapeo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerMapSetsCorrientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerMembers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerMembersConceptoSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerMembersCohorte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerListaDeSubsets">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerGenericosPorTxtYSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPresentacionesComercialesXGenerico">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerGenericoXPresentacionComercial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerMedicamentoClinicoPorMedicamentoBasico">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerMedicamentoBasicoPorMedicamentoClinico">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerSubsetsXDescId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerAtributosDeDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaTextos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaTextosMultiSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaTextosConCaducidad">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaSimilitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaSimilitudXFrecuenciaUso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerDataDescriptionId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerAuditoriaTermino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerComposicionFarmacoXDescId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaProductoPresentacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerDetalleProductoPresentacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerComposicionGenericoAmbulatorio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPrompting">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConOfeSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ObtenerCodigoAntecedenteFamiliarPorDescriptionId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerFamiliares">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="informarDescripcionConsumida">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorioAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="TerminologiaWSService">
<port name="TerminologiaWSPort" binding="tns:TerminologiaWSPortBinding">
<soap:address location="http://www1.hospitalitaliano.org.ar:8082/TerminologiaWSMultiContextoTest/TerminologiaWSService"></soap:address>
</port>
</service>
</definitions>